$btn-height: 12px;
$btn-color: #cb4e4e;
$btn-disabled-color: lighten($color: $btn-color, $amount: 15%);

@function shadow-color($color) {
    @return darken($color: $color, $amount: 8%);
}

.btn {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;

    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 20pt;

    background: $btn-color;
    color: #fff;
    box-shadow: 0 $btn-height shadow-color($color: $btn-color);

    transition: all 100ms ease;
    top: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &:active {
        box-shadow: 0 0 #ab3c3c;
        top: $btn-height;
    }

    &:disabled {
        background: $btn-disabled-color;
        box-shadow: 0 $btn-height shadow-color($color: $btn-disabled-color);
    }
}
